
.header-name, .header-name-orange {
  position: absolute;
  left: 40px;
  margin: 10px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px #000000;
}

@media screen and (max-width: 768px) {
  .header-name {
    position: absolute;
    visibility: hidden;
  }
}

@media screen and (max-width: 768px) {
  .header-name-orange {
    color: black;
    position: static;
  }
}

.header-name-orange {
  text-shadow: -2px -2px #f3741f;
  z-index: 1;
}

.header-name-orange:hover {
  text-shadow: -2px -2px #fa1d1d;
}

@media screen and (min-width: 768px) {
  .search {
    position: absolute;
    margin: 20px;
    right: 80px;
  }
}

.navigation {
  padding-top: 70px;
  width: 100%;
  margin-bottom: 40px;
}

.header-nav {
  position: absolute;
  left: 30px;
}

h1 {
  font-family: "Source Sans Pro";
  font-weight: 600;
  size: 40px;
  margin-left: 20%;
  padding: 10px;
  width: 60%;
  border-top: 1px solid black;
}

p, th, td, input, a {
  font-family: "PT Sans";
  font-weight: 400;
  size: 16px;
}

a {
  color: #f3741f;
  text-decoration: none;
  margin: 20px;
}

a:hover {
  color: #fa1d1d;
}

.list {
  text-align: left;
  margin-left: 10%;
}

.left-col {
  text-align: left;
  width: 16%;
}

.list-nav {
  color: rgb(0, 132, 255);
  margin: 3px;
}

.list-nav:hover {
  color: #a3a3a3;
}

input {
  border: 1px solid #a3a3a3;
  border-radius: 0;
  padding: 5px;
}

.add {
  position: absolute;
  right: 100px;
}

@media screen and (max-width: 768px) {
  .header-nav {
    position: relative;
    top: -1.5em;
  }
}

@media screen and (max-width: 768px) {
  .add {
    position: static;
  }
}

.button {
  color: #f3741f;
  border-color: #f3741f;
  background-color: white;
}

.button:hover {
  color: white;
  background-color: #f3741f;
}

.column {
  float: left;
  width: 80%;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th, td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2eef8;
}

.table-content {
  border-top: 1px solid rgb(0, 0, 0);
}

.table-hover:hover {
  background-color: #f3f3f3;
}

.about {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (min-width: 768px) {
  .top-container, .fav-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 2em;
    flex-wrap: wrap;
  }
}

.fav-container {
  margin-left: 40px;
  margin-right: 40px;
}

img, .not-image {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  border: 4px solid #f3741f;
  margin: 2em;
}

@media screen and (max-width: 768px) {
  .not-image {
    margin-left: auto;
    margin-right: auto;
  }
}

img:hover, .not-image:hover {
  border-color: #fa1d1d;
}

.starred {
  position: relative;
}

.star {
  position: absolute;
  font-size: 3em;
  top: 0.5em;
  right: 0.5em;
  color: rgb(228, 207, 15);
}

@media screen and (max-width: 768px) {
  .star {
    position: absolute;
    font-size: 3em;
    top: 0.5em;
    right: 35%;
    color: rgb(228, 207, 15);
  }
}

.not-image-text {
  margin-top: 2em;
  font-size: 2em;
  color: #f3741f;
}

.not-image-text:hover {
  color: #fa1d1d
}

.image-name {
  font-size: 1.5em;
  margin-top: 0.1em;
}

.image-speciality {
  color: #a3a3a3;
  margin-top: 0.1em;
}

.image-country {
  margin-top: 0.1em;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .prev, .next {
    visibility: hidden;
  }
}

.prev, .next {
  font-size: 80px;
  color:#a3a3a3;
  margin-top: auto;
  margin-bottom: auto;
}

.prev:hover, .next:hover {
  color:#5f5f5f;
}

.add-popup, .info-popup {
  position: fixed;
  background-color: white;
  box-shadow: 0 0 5px black;
  text-align: left;
  z-index: 1;
}

.add-popup {
  visibility: hidden;
  top: 0;
  left: 25%;
  right: 25%;
}

.info-popup {
  visibility: hidden;
  top: 2em;
  left: 20%;
  right: 20%;
}

.grid-container {
  display: grid;
  margin: 1.5em;
  column-gap: 1em;
  row-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'name name'
    'speciality speciality'
    'country city'
    'email phone'
    'date date'
    'sex .'
    'color .'
    'comment comment'
    'button button';
}

.grid-name {
  grid-area: name;
}

.grid-speciality {
  grid-area: speciality;
}

.grid-country {
  grid-area: country;
}

.grid-city {
  grid-area: city;
}

.grid-email {
  grid-area: email;
}

.grid-phone {
  grid-area: phone;
}

.grid-date {
  grid-area: date;
}

.grid-sex {
  grid-area: sex;
  display: flex;
  justify-content: space-between;
}

.grid-color {
  grid-area: color;
  display: flex;
  justify-content: space-between;
}

.grid-comment {
  grid-area: comment;
}

.grid-button {
  grid-area: button;
}

.max-width {
  width: 100%;
  height: 2em;
}

.max-width-comment {
  width: 100%;
}

.add-button {
  height: 2.5em;
  font-size: larger;
  font-weight: bolder;
}

.popup-header {
  display: flex;
  background-color: #383838;
  justify-content: space-between;
  padding: 0.5em;
  font-size: 20px;
  color: #f2eef8;
}

img.popup-img {
  border-radius: 0;
  width: 16em;
  height: 16em;
  border: 0;
  float: left;
  margin: 0;
}

.checkbox {
  margin: 0.1em 0.1em;
}

.info-box {
  margin: 1em;
}

.info-text, .info-text-name, .info-text-spesiality, .info-text-mail, .info-textinfo .info-text-map {
  margin-top: 1em;
}

.info-text-name {
  font-size: 30px;
}

.info-text-spesiality {
  font-weight: bolder;
}

.info-text-mail, .info-text-map {
  color: rgb(31, 178, 197);
}

.info-text-map {
  border-bottom: 1px dashed rgb(31, 178, 197);
  width: 5em;
}

.info-star {
  position: absolute;
  font-size: 3em;
  top: 1em;
  right: 0.3em;
  color: rgb(228, 207, 15);
}